<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Passport Auth</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm"> Logout</a>
      </div>

      <div class="row">
        <!-- LOCAL -->
        <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>
            <p>
              <strong>id</strong>: <%= user._id %></br>
              <strong>email</strong>: <%= user.local.email %></br>
              <strong>password</strong>: <%= user.local.password %>
            </p>
          </div>
        </div>

        <!-- FACEBOOK -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
            <p>
              <strong>id</strong>: <%= user.facebook.id %></br>
              <strong>token</strong>: <%= user.facebook.token %></br>
              <strong>email</strong>: <%= user.facebook.email %></br>
              <strong>name</strong>: <%= user.facebook.name %>
            </p>
          </div>
        </div>

        <!-- TWITTER -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
            <p>
              <strong>id</strong>: <%= user.twitter.id %></br>
              <strong>token</strong>: <%= user.twitter.token %></br>
              <strong>username</strong>: <%= user.twitter.username %></br>
              <strong>display name</strong>: <%= user.twitter.displayName %>
            </p>
          </div>
        </div>

        <!-- GOOGLE -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
            <p>
              <strong>id</strong>: <%= user.google.id %></br>
              <strong>token</strong>: <%= user.google.token %></br>
              <strong>email</strong>: <%= user.google.email %></br>
              <strong>name</strong>: <%= user.google.name %>
            </p>
          </div>
        </div>

        <!-- TWITCH -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-twitch"><span class="fa fa-twitch"></span> Twitch</h3>
            <p>
              <strong>id</strong>: <%= user.twitch.id %></br>
              <strong>access token</strong>: <%= user.twitch.accessToken %></br>
              <strong>refresh token</strong>: <%= user.twitch.refreshToken %></br>
              <strong>email</strong>: <%= user.twitch.email %></br>
              <strong>username</strong>: <%= user.twitch.username %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
